certifi==2024.2.2
charset-normalizer==3.3.2
evdev==1.7.0
grpcio==1.46.3
grpcio-tools==1.46.3
idna==3.6
MouseInfo==0.1.3
pillow==10.3.0
protobuf==3.20.3
PyAudio==0.2.14
PyAutoGUI==0.9.54
pydub==0.25.1
PyGetWindow==0.0.9
PyMsgBox==1.0.9
pynput==1.7.6
pyperclip==1.8.2
PyRect==0.2.0
PyScreeze==0.1.30
python-xlib==0.33
python3-xlib==0.15
pytweening==1.2.0
requests==2.31.0
ruff==0.3.4
six==1.16.0
urllib3==2.2.1
yandex-speechkit==1.3.3
